
<div class='part1'>
  <div class='prose'>
    <p>{{{doc.intro1}}}</p>
    <div class="yt-wrapper">
      <iframe id='ytvideo' width="100%" src="https://www.youtube.com/embed/XsX3ATc3FbA" frameborder="0" allow="" allowfullscreen></iframe>
    </div>

    <p>{{{doc.intro2}}}</p>
    <p>{{{doc.intro3}}}</p>
    <p>{{{doc.intro4}}}</p>
    <p>{{{doc.intro5}}}</p>
  </div>
</div>
