<div class='part2'>



<!-- flourish chart to be sticky -->
  <div class='chart'>
    <!-- legend -->

  <div class='legend'>
  </div>
  <p class='legend-explanation'>width of bar corresponds to six band members</p>
  
    <div class="flourish-embed" data-src="story/208507" id='bars'><script src="https://public.flourish.studio/resources/embed.js"></script></div>
  </div>

<!-- text for scrolling -->
  <div class='prose' id='bars-text'>
    <div class='step overlay generation-1-wrapper' data-step=1>
      <h2 class='generation-label' id='generation-1-label'>Generation 1</h2>
      <p class='generation-description'>{{{doc.bars1}}}</p>
    </div>
    <div class='step overlay generation-2-wrapper' data-step=2>
      <h2 class='generation-label' id='generation-2-label'>Generation 2</h2>
      <p class='generation-description'>{{{doc.bars2}}}</p>
    </div>
    <div class='step overlay generation-3-wrapper' data-step=3>
      <h2 class='generation-label' id='generation-3-label'>Generation 3</h2>
      <p class='generation-description'>{{{doc.bars3}}}</p>
    </div>
    <div class='step overlay supergroups-wrapper' data-step=4>
      <h2 class='generation-label' id='supergroups-label'>Supergroups</h2>
      <p class='generation-description'>{{{doc.bars4}}}</p>
    </div>
    <div class='step overlay subunits-wrapper' data-step=5>
      <h2 class='generation-label' id='subunits-label'>Subunits</h2>
      <p class='generation-description'>{{{doc.bars5}}}</p>
    </div>
    <div class='step'>
      <div class='overlay idol-shows-wrapper'>
        <h2 class='generation-label' id='idol-label'>Idol Survival Shows</h2>
        <p class='generation-description'>{{{doc.topten1}}}</p>
      </div>
    </div>
  </div>

</div>