<div class='part2'>

<!-- flourish chart to be sticky -->
  <div class='chart'>

    <!-- legend -->
    <div class='chart-title'>
      <h2>K-pop Group Sizes, &rsquo;90-&rsquo;19</h2>
      <div class="legend-wrapper">
        <p class='legend-explanation'>width denotes group size</p>
        <p class='legend-explanation legend-number'>2 members</p>
        <div class="legend-small">
          <div class='legend'></div>
        </div>
        <div class="legend-large">
          <div class='legend legend'></div>
        </div>
        <p class='legend-explanation legend-number'>4 members</p>
      </div>
    </div>
    <div class="flourish-embed" height="600" data-src="story/208507" id='bars'>




    </div>

    <!--   chart title  -->

  </div>



<!-- text for scrolling -->
  <div class='' id='bars-text'>
    <div class='step overlay generation-1-wrapper' data-step=1>
      <h2 class='generation-label' id='generation-1-label'>Generation 1</h2>
      <p class='generation-description'>{{{doc.bars1}}}</p>
    </div>
    <div class='step overlay generation-2-wrapper' data-step=2>
      <h2 class='generation-label' id='generation-2-label'>Generation 2</h2>
      <p class='generation-description'>{{{doc.bars2}}}</p>
    </div>
    <div class='step overlay generation-3-wrapper' data-step=3>
      <h2 class='generation-label' id='generation-3-label'>Generation 3</h2>
      <p class='generation-description'>{{{doc.bars3}}}</p>
    </div>
    <div class='step overlay supergroups-wrapper' data-step=4>
      <h2 class='generation-label' id='supergroups-label'>Supergroups</h2>
      <p class='generation-description'>{{{doc.bars4}}}</p>
    </div>
    <div class='step overlay subunits-wrapper' data-step=5>
      <h2 class='generation-label' id='subunits-label'>Subunits</h2>
      <p class='generation-description'>{{{doc.bars5}}}</p>
    </div>
    <div class='step'>
      <div class='overlay idol-shows-wrapper'>
        <h2 class='generation-label' id='idol-label'>Idol Survival Shows</h2>
        <p class='generation-description'>{{{doc.topten1}}}</p>
      </div>
    </div>
  </div>

</div>
