
<div class='part1'>
  <div class='prose'>
    <p>{{{doc.intro1}}}</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/XsX3ATc3FbA?controls=0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>       
    <p>{{{doc.intro2}}}</p>
    <p>{{{doc.intro3}}}</p>
    <p>{{{doc.intro4}}}</p>
    <p>{{{doc.intro5}}}</p>
  </div>
</div>