<div class='part2'>
<div class='chart'>
    <div class="flourish-embed" data-src="story/208507"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
  </div>
<div class='prose scrolltext'>
  <p>{{{doc.bars1}}}</p>
  <p>{{{doc.bars2}}}</p>
  <p>{{{doc.bars3}}}</p>
  <p>{{{doc.bars4}}}</p>
  <p>{{{doc.bars5}}}</p>
</div>
</div>