
<div class='part1'>
  <div class='prose'>
    <p>{{doc.intro1}}</p>
    <img src='assets/images/kpop_illustration1.png'>
    <p>{{doc.intro2}}</p>
    <p>{{doc.intro3}}</p>
    <p>{{doc.intro4}}</p>
    <p>{{doc.intro5}}</p>
  </div>
</div>