<div class='part4'>

  <div class='chart'>
    <div class="flourish-embed" data-src="story/220054"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
  </div>

  <div class='prose'>
    <p>{{{doc.rankings1}}}</p>
    <p>{{{doc.rankings2}}}</p>
    <p>{{{doc.rankings3}}}</p>
    <p>{{{doc.rankings4}}}</p>
    <p>{{{doc.rankings5}}}</p>
  </div>
  
</div>