<div class='part4'>

<!-- pre chart text--> 
  <div class='prose'>
    <p>{{{doc.topten4}}}</p>

    <p>{{{doc.rankings0}}}</p>
    <p>{{{doc.rankings01}}}</p>
    <img src='assets/images/kpop_top.svg'>
    <p>{{{doc.rankings02}}}</p>

    <div class='roles-grid'>
      <img id ='first-role-image-wide' src='assets/images/seniority-group.svg'>
      <img id ='first-role-image-long' src='assets/images/seniority-group-long.svg'>
      <div class='side-by-side'>
        <img src='assets/images/rapper-group.svg'>
        <img src='assets/images/vocalist-group.svg'>
        <img src='assets/images/appearance-group.svg'>
        <img src='assets/images/dancer-group.svg'>
      </div>
    </div>

    <p>{{{doc.rankings03}}}</p>
    <p>{{{doc.rankings04}}}</p>

  </div>

<!-- here is the flourish chart to become sticky -->
  <div class='chart'>
    <div class="flourish-embed" data-src="story/220054" id='rankings'><script src="https://public.flourish.studio/resources/embed.js"></script></div>
  </div>

<!-- adding scrolly text elements below -->
  <div class='prose' id='rankings-text'>
    <div class='step overlay seniority-wrapper' data-step=1>
      <h2 class='group' id='seniority-label'>Seniority</h2>
      <p class='group-description'>{{{doc.rankings1}}}</p>
    </div>
    <div class='step overlay rap-wrapper' data-step=2>
      <h2 class='group' id='rap-label'>Rap</h2>
      <p class='group-description'>{{{doc.rankings2}}}</p>
    </div>
    <div class='step overlay vocals-wrapper' data-step=3>
      <h2 class='group' id='vocals-label'>Vocals</h2>
      <p class='group-description'>{{{doc.rankings3}}}</p>
    </div>
    <div class='step overlay aesthetics-wrapper' data-step=4>
      <h2 class='group' id='aesthetics-label'>Aesthetics</h2>
      <p class='group-description'>{{{doc.rankings4}}}</p>
    </div>
    <div class='step'>
      <div class='overlay dance-wrapper' data-step=5 id='final-group'>
        <h2 class='group' id='dance-label'>Dance</h2>
        <p class='group-description'>{{{doc.rankings5}}}</p>
      </div>
    </div>
  </div>

</div>