<div class='part2'>

<!-- flourish chart to be sticky -->
  <div class='chart'>
    <div class="flourish-embed" data-src="story/208507"><script src="https://public.flourish.studio/resources/embed.js"></script></div>
  </div>

<!-- text for scrolling -->
  <div class='prose'>
    <div class='step' data-step=1>
      <h2>Generation 1</h2>
      <p>{{{doc.bars1}}}</p>
    </div>
    <div class='step' data-step=2>
      <p>{{{doc.bars2}}}</p>
    </div>
    <div class='step' data-step=3>
      <p>{{{doc.bars3}}}</p>
    </div>
    <div class='step' data-step=4>
      <p>{{{doc.bars4}}}</p>
    </div>
    <div class='step' data-step=5>
      <p>{{{doc.bars5}}}</p>
    </div>
  </div>

</div>